<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <properties>
                <property name="username" value="root"/>
                <property name="password" value="root" />
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/holacampus"/>
    </properties>
    <settings>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
     <typeAliases>
        <typeAlias type="com.holacampus.api.domain.ActiveElement"    alias="ActiveElement" />
        <typeAlias type="com.holacampus.api.domain.User"             alias="User" />
        <typeAlias type="com.holacampus.api.domain.Credentials"      alias="Credentials" />
        <typeAlias type="com.holacampus.api.domain.AuthToken"        alias="AuthToken" />
        <typeAlias type="com.holacampus.api.domain.CommentContainer" alias="CommentContainer" />
        <typeAlias type="com.holacampus.api.domain.Comment"          alias="Comment" />
    </typeAliases>
    
    <environments default="development">        
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/holacampus/mappers/UserMapper.xml"/>
        <mapper resource="com/holacampus/mappers/CredentialsMapper.xml"/>
        <mapper resource="com/holacampus/mappers/AuthTokenMapper.xml"/>
        <mapper resource="com/holacampus/mappers/CommentContainerMapper.xml"/>
        <mapper resource="com/holacampus/mappers/CommentMapper.xml"/>
    </mappers>
   
</configuration>