<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.holacampus.api.mappers.AuthTokenMapper">
    
    <resultMap id="authTokenResult" type="AuthToken">
        <id column="at_token"  property="authToken" />
        <result column="at_time"  property="creationDate" />
        <association property="element" column="ae_id" javaType="ActiveElement"
                resultMap="com.holacampus.api.mappers.ActiveElementMapper.activeElementResult" />
    </resultMap>
   
    <select id="getAuthToken" parameterType="String" resultMap="authTokenResult">
        select  A.AuthToken       as at_token,
                A.CreationDate    as at_time,
                A.ActiveElementID as ae_id,
                AE.Type           as ae_type
        from auth_token A
            left join active_element AE
                on A.ActiveElementID = AE.ActiveElementID
            where AuthToken = #{id}
    </select>
    
    <select id="getAuthTokenAndCredentials" parameterType="String" resultMap="authTokenResult">
        
        select  A.AuthToken         as at_token,
                A.CreationDate      as at_time,
                AE.ActiveElementID  as ae_id,
                AE.Email            as ae_email,
                AE.Type             as ae_type
        from auth_token A
            left join active_element AE
                on A.ActiveElementID = AE.ActiveElementID
            where A.AuthToken = #{id}
        
    </select>
    
     <insert id="storeAuthToken" parameterType="map" >
        insert into auth_token (ActiveElementID, AuthToken, CreationDate)
        values( #{id},
                #{auth.authToken},
                NOW()
         )
    </insert>
    
    <delete id="deleteAuthToken" parameterType="String">
        delete from auth_token
            where AuthToken = #{token}
    </delete>
    
    <delete id="deleteAllElementTokens" parameterType="long">
        delete from auth_token
            where ActiveElementID = #{id}
    </delete>
    
    
    
</mapper>