<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.holacampus.api.mappers.AuthTokenMapper">
    
    <resultMap id="authTokenResult" type="AuthToken">
        <id column="at_token"  property="authToken" />
        <result column="at_time"  property="creationDate" />
        <association property="user" column="user_id" javaType="User"
                resultMap="com.holacampus.api.mappers.UserMapper.userResult" />
    </resultMap>
   
    <select id="getAuthToken" parameterType="String" resultMap="authTokenResult">
        select  AuthToken       as at_token,
                CreationDate    as at_time,
                UserID          as user_id
        from auth_token
            where AuthToken = #{id}
    </select>
    
    <select id="getAuthTokenAndCredentials" parameterType="String" resultMap="authTokenResult">
        
        select  A.AuthToken as at_token,
                A.CreationDate as at_time,
                U.UserID as user_id,
                U.Email  as user_email
        from auth_token A
            left join user U
                on A.UserID = U.UserID
            where A.AuthToken = #{id}
        
    </select>
    
     <insert id="storeAuthTokenForUserId" parameterType="map" >
        insert into auth_token (UserID, AuthToken, CreationDate)
        values( #{id},
                #{auth.authToken},
                NOW()
         )
    </insert>
    
    <delete id="deleteAuthToken" parameterType="String">
        delete from auth_token
            where AuthToken = #{token}
    </delete>
    
    <delete id="deleteAllUserTokens" parameterType="long">
        delete from auth_token
            where UserID = #{id}
    </delete>
    
    
    
</mapper>