<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.holacampus.api.mappers.CommentContainerMapper">
    
    <resultMap id="cContainerResult" type="CommentContainer">
        <id column="cc_id" property="id" />
        <result column="cc_type" property="type" />
        <result column="cc_owner_id" property="ownerId"/>
    </resultMap>
    
      <select id="getPermissions" parameterType="map" statementType="CALLABLE">
        CALL getCommentContainerPermissions(
            #{ userId,              mode=IN,     javaType=Long,                  jdbcType=INTEGER},
            #{ containerId,         mode=IN,     javaType=Long,                  jdbcType=INTEGER},
            #{ permission.level,    mode=OUT,    javaType=String,                jdbcType=VARCHAR}
        )
    </select>
</mapper>