<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.holacampus.api.mappers.ProfilePhotoContainerMapper">
    
    <resultMap id="ppContainerResult" type="ProfilePhotoContainer">
        <id column="ppc_id" property="id" />
        <result column="ppc_type" property="type" />
        <result column="ppc_owner_id" property="ownerId"/>
        <result column="ppc_photo_id" property="photo.id"/>
    </resultMap>
    <!--
      <select id="getPermissions" parameterType="map" statementType="CALLABLE">
        CALL getPhotoContainerPermissions(
            #{ userId,              mode=IN,     javaType=Long,                  jdbcType=INTEGER},
            #{ containerId,         mode=IN,     javaType=Long,                  jdbcType=INTEGER},
            #{ permission.level,    mode=OUT,    javaType=String,                jdbcType=VARCHAR}
        )
    </select>
    -->
    <update id="setProfilePhoto" parameterType="map">
        update profile_photo
        set PhotoID = #{photoId}
        where ProfilePhotoID = #{profilePhotoId}
           
    </update>
    
      <update id="deleteProfilePhoto" parameterType="map">
        update profile_photo
        set PhotoID = null
        where ProfilePhotoID = #{profilePhotoId}
           
    </update>
</mapper>